<div class ="container">
    <div class="sub">
    <button class="close" (click)="close()" >&times;</button>
    <h1>Update Profile</h1>

    <form class="form-area" [formGroup]="updateUserReq" (ngSubmit)="onSubmit()">

        <div class="row">
            <div class ="col">
                <label>New Username: </label>
                <br>
                <input [class.is-invalid]="username?.invalid && username?.touched" formControlName="username" type="text" class="form-control" [placeholder]="placeholders.username">
            </div>
        </div>

        <div *ngIf="username?.invalid && username?.touched">
            <small class="text-danger" *ngIf="username?.errors?.['minlength']">Username must be at least 3 characters</small>
            <small class="text-danger" *ngIf="username?.errors?.['required']">Username is required</small>
            <small class="text-danger" *ngIf="username?.errors?.['usernameTaken']">Username is taken </small>
        </div>

        <div class="row">
            <div class ="col">
                <label>New Password: </label>
                <br>
                <input [class.is-invalid]="password?.touched && password?.invalid" formControlName="password" type="password" class="form-control" [placeholder]="placeholders.password" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$">
            </div>
        </div>

        <div *ngIf="password?.invalid && password?.touched">
            <small class="text-danger" *ngIf="password?.errors?.['pattern']">Password needs to be minimum of 8 letters including one special and uppercase character</small>
          </div>
          
        <div class="form-group">
            <div *ngIf="displayFormSubmitError" style="color: red">
                <button class="updateBtn align-self-end"></button>
            </div>
            <button [disabled] = "!updateUserReq.valid" type="submit" value="Create" class="updateBtn align-self-end">Sign-Up</button>
        </div>
    </form>
    
    </div>
</div>