<div class ="container">
    <div class="sub text-center">
    <button class="close" (click)="close()" >&times;</button>
    <h1>Update Profile</h1>

    <form class="form-area" [formGroup]="updateUserReq" (ngSubmit)="onSubmit()">

        <div class="row">
            <div class ="col">
                <label>New Email:</label>
                <br>
                <input formControlName="emailControl" type="text" class="form-control" [placeholder]="placeholders.email">
            </div>
            
        </div>

        <div class="row">
            <div class ="col">
                <label>New Bio:</label>
                <br>
                <input [class.is-invalid]="bio?.invalid" formControlName="bioControl" type="text" class="form-control" [placeholder]="placeholders.bio">
            </div>
            
        </div>

        <div class="row">
            <div class ="col">
                <label>Age:</label>
                <br>
                <input [class.is-invalid]="age?.touched && age?.invalid" formControlName="ageControl" type="text" class="form-control" [placeholder]="placeholders.age">
            </div>
            
        </div>

        <div class="form-group">
            <div *ngIf="displayFormSubmitError" style="color: red">
                There's something wrong with your form
            </div>
            <div *ngIf="displayFormSuccess" style="color: rgb(55, 78, 16);">
                Profile Successfully Updated
            </div>
            <button type="submit" value="Create" class="updateBtn align-self-end">Update</button>
        </div>
    </form>
    
    </div>
</div>