<div>
  <!-- Container-->
  <div class="render-container text-center">
    <div class="row">
      <div class="col-sm">
        <h1>Friends List</h1>
        <!-- Container Item -->
        <div class="item column d-flex bg-light" *ngFor="let friend of allFriends">
          <div class="description col-sm-4 d-flex justify-content-evenly align-items-center">
            <i class="bi bi-person-circle"></i>
            
          </div>
          <div class="col-sm-4 align-items-center">
            <p class="h3 align-self-center">{{friend.friend_id?.username}}</p>
          </div>
          <div class="actions col-4 ">
            <button class="btn btn-danger" (click)="goToProfile(friend.friend_id?.username!)">
              <i class="bi bi-person-bounding-box"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    
    <!-- End Item -->
  </div>
  <!-- End Container -->
  </div>