<div class="flag-box dropdown-menu dropdown-menu-end">

  <!-- Title -->
  <li class="dropdown-item disabled">
    <div class="d-flex justify-content-center title flex-column align-items-center">
      <h2 class="fill title">Flags</h2>
      <small *ngIf="trailFlags.length == 0" class="text-secondary">No trails flagged.</small>
    </div>
  </li>

  <!-- Flag -->
  <div class="dropdown-item" *ngFor="let flag of trailFlags">
    <div class="notification d-flex column justify-content-evenly align-items-center rounded text-wrap">
      <h5 class="notification-title col-10">{{flag.trailId?.name}}</h5>
      <button class="btn col-2" (click)="deleteFlag(flag)">X</button>
    </div>
    
    <div class="notification-footer d-flex row justify-content-center flex-row text-wrap rounded">
      <div class="notification-message">Flagged to go hiking on {{flag.dateInt}}
      </div>  
    </div>
  </div>
  <!-- End Flag -->

</div>