.Trailname{

 display: flex;
// justify-content: center

}
#traillabel{
margin-right: 10px;

}

.Rating{
  
     display: flex;
  
    }
    #Ratinglabel{
        margin-right: 10px;
    
        
     }

     .img{
        width: 500px; 
       
    }
    