<!DOCTYPE html>
<header>
<img class = img src="../../../../assets/image.PNG">
</header>

  <br>
  <body>
    <div class="row">
      <div class="col Trailname">
    <label for="exampleFormControlInput1" id="traillabel" class="form-label">Trail Name: </label>
    
    <p>
      Trailname
    </p>
  </div>
  <div class="col Rating">
    <label for="exampleFormControlInput1" id = "Ratinglabel" class="form-label">Rating:</label>
   <p>
    Rating
   </p>
  </div>
  </div>

    <label for="exampleFormControlTextarea1" class="form-label">Description</label>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>

</body>
  <button type="button" class="btn btn-success">Trailmate</button>

<br>
  <br>
  <div class="mb-3">
    
    <label for="exampleFormControlInput1" class="form-label">User Comments:</label><div class="mb-3">
      <p>
        User comments
      </p>
      </div>
   