<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <div class="container" id="cont">
      <div class="container-one">
        <form (ngSubmit)="processForm(loginForm)" class= "sign-in-form" #loginForm="ngForm">
    
          <h1>Sign In</h1>

            <div class="user-details">
              <div class="form-block">
              <label>
                <span>Username</span></label>
              <input class="form-control" [(ngModel)]="auth.username" type="text" id="login-username" name="login-username" [placeholder]="placeholders.username" #name="ngModel" required>
              </div>

              <div class="form-block">
              <label>
              <span>Password</span>            </label>
              <input class="form-control" [(ngModel)]="auth.password" type="password" id="login-password" name="login-password" [placeholder]="placeholders.password" #name="ngModel" required>
          </div>
              <div class="form-group">
                <div *ngIf="displayFormSubmitError" style="color: red">
                  Invalid Log-In.
                </div>
                <div class="button-container">
                  <button type="submit" value="Login">Login</button>
                </div>
              </div>
            </div> 
          </form>
        </div>
        <div class="container-two">
            <div class="img">
              <div class="img-text">
                <h2>New Here?</h2>
                <p>Sign up and explore the world with your trailmate</p>
                <button type="button" routerLink="/signup">Sign-Up</button>
              </div>
            </div>
          </div>
        </div>
</body>
</html>