<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <div class="container" id="cont">
      <div class="container-one">
        <form (ngSubmit)="processForm(loginForm)" class= "sign-in-form" #loginForm="ngForm">
    
          <h1>Sign In</h1>

            <div class="user-details">
              <div class="form-block">
              <label>
                <span>Username</span></label>
              <input class="form-control" [(ngModel)]="auth.username" type="text" id="login-username" name="login-username" [placeholder]="placeholders.username" #name="ngModel" [class.is-invalid] = "name.invalid && name.touched" pattern= "^(?=[a-zA-Z0-9._]{8,20}$)(?!.*[_.]{2})[^_.].*[^_.]$" required>
              <div *ngIf="name.touched && (name.invalid || name.touched)">
                <small class="text-danger" *ngIf="name.errors?.['required']">Name is required</small>
                <small class="text-danger" *ngIf="name.errors?.['pattern']">Name must be at least eight letters</small>
              </div>
              </div>

              <div class="form-block">
              <label>
              <span>Password</span></label>
              <input class="form-control" [(ngModel)]="auth.password" type="password" id="login-password" name="login-password" [placeholder]="placeholders.password" #password="ngModel" [class.is-invalid] = "password.invalid && password.touched" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$" required>
              <div *ngIf="password.touched && (password.invalid || password.touched)">
                <small class="text-danger" *ngIf="password.errors?.['required']">Password is required</small>
                <small class="text-danger" *ngIf="password.errors?.['pattern']">Password must be at least eight letters and contain one uppercase and special character</small>
              </div>
          </div>
              <div class="form-group">
                <div *ngIf="displayFormSubmitError" style="color: red">
                  Invalid Log-In.
                </div>
                <div class="button-container">
                  <button type="submit" value="Login">Login</button>
                </div>
              </div>
            </div> 
          </form>
        </div>
        <div class="container-two">
            <div class="img">
              <div class="img-text">
                <h2>New Here?</h2>
                <p>Sign up and explore the world with your trailmate</p>
                <button type="button" routerLink="/signup">Sign-Up</button>
              </div>
            </div>
          </div>
        </div>
</body>
</html>