<ul class="bg-primary user-box justify-content-center d-flex flex-column">
  <!-- Title -->
  <div class="d-inline-flex justify-content-center title bg-warning">
    <h2 class="title">Username</h2>
  </div>
  <!-- Notification -->
  <li class="dropdown-item bg-success d-flex flex-column">
    <div class="notification-header align-self-center d-flex flex-row justify-content-between">
    <button class="btn btn-item btn-info">Account Info</button>
    </div>
  </li>
  <li class="dropdown-item bg-success d-flex flex-column">
    <div class="notification-header align-self-center d-flex flex-row justify-content-between">
    <button class="btn btn-item btn-info">Messages</button>
    </div>
  </li>
  <li class="dropdown-item bg-success d-flex flex-column">
    <div class="notification-header align-self-center d-flex flex-row justify-content-between">
    <button class="btn btn-item btn-danger">Log out</button>
    </div>
  </li>
</ul>