@import "~bootstrap-icons/font/bootstrap-icons.css";

.box{
    margin-top: 30px;
}

.tabBtn{
    margin: 20px;
}

.item, .noPending{
    background-color: rgb(150, 160, 148);
}

.icon{
  cursor: pointer;
}

.icon:hover{
  color: lightblue;
}