<div class="box">
  <!-- Tabs -->
  <!-- <div class="tabs column d-flex justify-content-center align-items-center">
    <div class="friends text-center">
      <button class="btn btn-danger tabBtn" (click)="toggle()">
        FRIENDS
      </button>
    </div>

    <div class="pending text-center">
      <button class="btn btn-danger tabBtn" (click)="toggle()">
        PENDING
      </button>
    </div>
  </div> -->

  <!-- Body  for friends-->
<!-- <div class="render-container text-center" *ngIf="showFriends">
  <div class="container2"> -->

    <!-- Container Item -->
    <!-- <div class="item column d-flex" *ngFor="let friend of allFriends">
      <div class="description col-sm-4 d-flex justify-content-center align-items-center">
        <i class="bi bi-person-circle"></i>
      </div>

      <div>
        <p>{{friend.friend_id?.username}}</p>
      </div>

      <div class="actions col-sm-4">
        <button class="btn btn-danger" (click)="goToProfile(friend.friend_id?.username!)">
          <i class="bi bi-person-fill"></i></button>
        <button class="btn btn-warning"  (click)="goToMessage(friend.friend_id!)"><i class="bi bi-chat"></i></button>
      </div>
      
    </div> -->
    <!-- <div class="bg-light">
      <h1 *ngIf="allFriends.length == 0">You have no friends yet.</h1>
    </div>
  </div>
</div> -->

  <!-- Body  for pending-->
<!-- <div class="render-container text-center" *ngIf="showPending">
  <div class="row">
  <H1>Pendings List</H1>
  <!-- Container Item -->

  <div class="friends" *ngFor="let friend of pendingFriends">
        <div class="each-friend">
          <p>{{friend.friend_id?.username}} hello </p>
        </div>
      </div>
  <!-- <div class="item column d-flex" *ngFor="let friend of pendingFriends">
    <div>
      <i class="bi bi-person-circle"></i>
    </div> -->
    
    <!-- <div class="col-sm-4">
      <p>{{friend.friend_id?.username}}</p>
    </div> -->

    <!-- <div class="actions col-sm-4">
      <button class="btn btn-danger">
      <i class="bi bi-person-fill" (click)="goToProfile(friend.friend_id?.username!)"></i>
      </button>
      <button class="btn btn-warning" (click)="goToMessage(friend.friend_id!)"><i class="bi bi-chat"></i>
      </button>
      <button class="btn btn-success" (click)="addFriend(friend.friend_id?.id!)">
        <i class="bi bi-plus-lg"></i>
      </button>
    </div> -->

  <!-- </div>
  <div class="noPending">
  <h1 *ngIf="pendingFriends.length == 0">You have no  pending friend requests</h1>
  </div>
</div> -->

  <!-- </div> -->
</div>