<div class="box">
  User: {{message.sender_id?.username}}
  Message: {{message.message}}
  Time Sent: {{message.time_sent}}
</div>

      <!-- <div href="#" class="list-group-item list-group-item-action py-3 lh-sm"
      *ngFor="let msg of messages">

        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">{{msg.username}}</strong>
        </div>
        <div class="col-10 mb-1 small">{{msg.message}}</div>
    </div>
 
    </div>
  </div>
  <form (submit)="submit">
  </form>
</div> -->