<section class="showcase">
    <header>
        <h2 class="logo">TrailMate</h2>
    </header>

    <video autoplay muted loop oncanplay="this.play()" onloadedmetadata="this.muted = true" >
        <source src="../../../assets/videos/Man running with a dog on a mountain.mp4" type="video/mp4">
      </video>
    <div class="overlay"></div>
    <div class="text">
        <h2>Never Hike</h2>
        <h2>Alone Again</h2>
        <p>Now you can hike that trail you've been eying,
            TrailMates makes it easy to find likeminded
            people to hit the trail with! 
        </p>
    <!-- login/signup routes -->
    <a href="/login">Log In</a>
    <a href="/signup">Sign Up</a>
</div>

<ul class="social">
    <li><a href="#"><img src="https://i.ibb.co/x7P24fL/facebook.png"></a></li>
    <li><a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png"></a></li>
    <li><a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png"></a></li>
</ul>

</section>
