<app-header></app-header>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="left-sidebar">
      <div class="profile">
        <!-- Profile Image -->
      <!-- Renders profile pic when /user == user logged in && has profile pic -->
      <img
        src={{profileImage.url}}
        alt="profile-image"
        class="profile-pic"
        (click)="updateProfilePic()"
        *ngIf="profileImage.url != null && this.username == this.user.username"
      />
      <!-- Renders profile pic when for when /user == user logged in && does not have prof pic -->
      <img
        src="../../../assets/images/blank-profile.png"
        alt="profile-image"
        class="profile-pic"
        (click)="updateProfilePic()"
        *ngIf="profileImage.url == null && this.username == this.user.username"
      />
            <!-- Renders profile pic when /user does have a profile pic. -->
      <img
        src={{profileImage.url}}
        alt="profile-pic"
        class="profile-pic"
        (click)="updateProfilePic()"
        *ngIf="profileImage.url != null && this.username != this.user.username"
      />
            <!-- Renders simpson pic when /user does not have profile pic. -->
      <img
        src="../../../assets/images/blank-profile.png"
        alt="profile-pic"
        class="profile-pic"
        (click)="updateProfilePic()"
        *ngIf="profileImage.url == null && this.username != this.user.username"
      />
      <!-- End profile image -->
        <h4>@{{ username }}</h4>
        <hiker-ability></hiker-ability>
        <p class="bio">{{ viewerUser.bio }}</p>
      </div>
      <button
          (click)="updateProfilePopup = true"
          *ngIf="username == user.username"
          type="button"
          class="edit"
          (click)="updateProfilePopup = true"
        >
          Edit Profile
        </button>
    </div>
    <div class="main-content text-center">
      <div class="write-post-container" *ngIf="username == user.username">
        <p class="name">{{ username }}</p>
            <app-trail-history
            (doPassPopup)="close($event)"
            
            ></app-trail-history>
            <!-- <a class="close" (click)="popup = false" >&times;</a> -->
      </div>

      <div class="noPosts" *ngIf="this.trailhistory.length == 0">
      No post available
      </div>
      <div class="post-container" *ngFor="let hist of trailhistory">
        <div class="user-profile">
          <img
            src="https://i.stack.imgur.com/gHaf2.png"
            class="homer circular--square"
            alt="simpson"
            *ngIf="profileImage.url == ''"
          />
          <img
            src={{profileImage.url}}
            class="homer circular--square"
            alt="simpson"
            *ngIf="profileImage"
          />
          <div>
            <p>@{{ viewerUser.username }}</p>
          </div>
        </div>
        <h4>{{ hist.trailName }}</h4>
        <p class="post-text">{{ hist.comment }}</p>
      <img class="post-img" src="{{ hist.imageURL }}" />
      </div>
    </div>




    <div class="right-sidebar">
  
      <div class="friends">
        <h4 *ngIf="username == user.username">My Friends</h4>
        <h4 *ngIf="username != user.username">{{username}}'s Friends</h4>
        <app-other-user-friends
        *ngIf="username != user.username"
      ></app-other-user-friends>

      <app-friends-list *ngIf="username == user.username"
      ></app-friends-list>
      </div>

      <div class="pendingFriends" *ngIf="username == user.username">
        <h4>Pending Requests</h4>
        <app-pending-friends></app-pending-friends>
      </div>
    </div>
  </div>

            <!-- post popup -->
          <div class="overlay" *ngIf="updateProfileImage">
            <div class="popup">
              <app-update-profile-image
                [popup]="popup"
                (doPassPopup)="close($event)"
              ></app-update-profile-image>
              <!-- <a class="close" (click)="popup = false" >&times;</a> -->
            </div>
          </div>

          <!-- post popup -->
          <div class="overlay" *ngIf="updateProfilePopup">
            <div class="popup">
              <app-update-profile
                [popup]="popup"
                (doPassPopup)="close($event)"
              ></app-update-profile>
              <!-- <a class="close" (click)="updateProfilePopup = false" >&times;</a> -->
            </div>
          </div>
</body>
</html>
