
<app-header></app-header>

<div class="container">
    <div class="row">
        <!-- profile image -->
        <div class="col-lg-4 col-md-12 profileImg">
            <img src="https://i.stack.imgur.com/gHaf2.png" alt="simpson">
            <h3>@{{username}}</h3>
            <hiker-ability></hiker-ability>
            <button *ngIf="username!=user.username" type="button" class="btn btn-outline-primary btn-lg friendBtn">Add Friend</button>
            <button (click)="updateProfilePopup = true" *ngIf="username==user.username" type="button" class="btn btn-outline-primary btn-lg friendBtn">Update Profile</button>
        </div>

        <div class="col-lg-8 col-md-12 titleContainer">
            <div class="titleContent h-100 d-flex flex-column justify-content-between align-items-center">
                <h1><b>Trail History</b></h1>
                
                    <!-- create post button that opens popup-->
                    <button type="button" class="createPostBtn" (click)="popup = true" *ngIf="username==user.username">

                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="30" fill="currentColor" class="bi bi-journal-plus" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5z"/>
                            <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
                            <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
                        </svg>
                    </button>

                <!-- <div class="overlay" *ngIf="isFormOpen">
                        <app-trail-history class="postForm"></app-trail-history>
                        <a class="close" (click)="isFormOpen = false">&times;</a>
                </div> -->

                <!-- post popup -->
                <div class="overlay" *ngIf="popup">
                    <div class="popup">
                        <app-trail-history [popup]="popup" (doPassPopup)="close($event)"></app-trail-history>
                        <!-- <a class="close" (click)="popup = false" >&times;</a> -->
                    </div>
                </div> 

                <!-- post popup -->
                <div class="overlay" *ngIf="updateProfilePopup">
                    <div class="popup">
                        <app-update-profile [popup]="popup" (doPassPopup)="close($event)"></app-update-profile>
                        <!-- <a class="close" (click)="updateProfilePopup = false" >&times;</a> -->
                    </div>
                </div>
            </div>

        </div>
    </div>
    

    <!-- user bio -->
    <div class="row">
        <div class="col-xl-4 col-lg-12 description">
            <div>
                <h3>Bio</h3>
                <p>{{viewerUser.bio}}</p>
            </div>
        </div>


          <!-- no post available-->
          
            <div class="col-xl-8 col-lg-12 postColumn h-100 d-flex flex-column justify-content-center align-items-center"  *ngIf="this.trailhistory.length ==0;">
                No post available
            </div>
            
        
        <!-- posts -->
        <div class="col-xl-8 col-lg-12 postColumn h-100 d-flex flex-column justiffcontent-center align-items-center">
            <div class="postContainer" *ngFor="let hist of trailhistory">

                <div class="usernameImg">
                    <img src="https://i.stack.imgur.com/gHaf2.png" class="homer" alt="simpson">
                    <h3 class="username">@{{viewerUser.username}}</h3>
                </div>

                <div class="postImg"><img src={{hist.imageURL}}></div>
                


                <div class="postText">
                    <h3>{{hist.trailName}}</h3>
                    <p>{{hist.comment}}</p>
                </div>

                <script src="./src/app/profile-page/profile/profile.component.ts"></script>
            </div>
        </div>
    </div>
</div>

