@import "~bootstrap-icons/font/bootstrap-icons.css";

*{
    --bistre: #31231E;
    --shadow: #937B63;
    --moss-green: #8A9B68;
    --laurel-green: #B6C197;
    --pale-spring: #D5DDBC;
    --british-green: #254D32;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #D5DDBC;
}

.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo{
    height: 120px;
    width: 120px;
    cursor: pointer;
}

.navbar-brand{
    font-family: typo-slab-inline;
    font-size: 80px;
    color: #444;
    font-weight: bolder;
    margin-top: 20px;
}

@font-face{
    font-family: typo-slab-inline;
    src: url("/assets/fonts/TypoSlab_inline Demo.otf");
}

.navbar-icons div{
    display: inline-block;
    margin: 0 30px;
}

i{
    font-size: 30px;
    color: #444;
}

i:hover{
    color: black;
    font-weight: bolder;
    cursor: pointer;
}

// DROPDOWN
.user-options{
    position: relative;
}

.menu-heading {
    font-weight: bold;
    border-bottom: 2px solid black;
    padding: 0;
}

.user-menu{
    position: absolute;
    color: black;
    left: 0;
    top: calc(100% + .25rem);
    background-color: white;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0, .1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}


.user-options > .bi-hand-thumbs-up:hover + .user-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

// Menu Toggler
.menu-container{
    width: 200px;
    background: #04aa6d;
    font-size: 20px
}

.menu-togger {
    padding: 10px;
}

.menu {
    background: #333;
    color: #fff;
    padding: 10px;
}

.menu-item {
    cursor: pointer;
    padding: 5px 0;
}

.menu-item:hover{
    text-decoration: underline;
}