<div class="navbar">

    <img class="navbar-logo" src="/assets/images/nav_icon.png" alt="Cannot load image">
    <a class="navbar-brand" href="#">Trailmates</a>

    <nav class="navbar-icons">
        <!-- TEST -->
        <!-- <div class="nav-item-test">
            <div class="user-options">
                <i class="bi bi-hand-thumbs-up"></i>
                <div class="user-menu">
                    <div class="menu-heading">Username</div>
                    <div class="menu-item">Profile</div>
                    <div class="menu-item">Messages</div>
                    <div class="menu-item">Logout</div>
                </div>
            </div>
        </div> -->

        <div>
            <a class="nav-link" href="#">
                <i class="bi bi-signpost-2"></i>
            </a>
        </div>
            
        <div class="dropdown">
            <a class="nav-link" href="#" (click)="showNotifs=!showNotifs">
                <i class="bi bi-bell"></i>
            </a>
            <app-notifications class="app-notifications" *ngIf="showNotifs"></app-notifications>
        </div>

        <div class="dropdown">
            <a class="nav-link" href="#" (click)="showUserMenu=!showUserMenu">
                <i class="bi bi-person-circle"></i>
            </a>
            <app-user-menu class="app-user-menu" *ngIf="showUserMenu"></app-user-menu>
        </div>
    </nav>
</div>
