@import "~bootstrap-icons/font/bootstrap-icons.css";

*{
    --bistre: #31231E;
    --shadow: #937B63;
    --moss-green: #8A9B68;
    --laurel-green: #B6C197;
    --pale-spring: #D5DDBC;
    --british-green: #254D32;

    // box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;

    // padding-top: 10px;
    // padding-bottom: 10px;
    background-color: #D5DDBC;

    // GRID
//      display: grid;
//     grid-template-columns: 1fr 1fr 1fr;
}

a {
    text-decoration: none;
} 

.logo{
    height: 120px;
    width: 120px;
    cursor: pointer;
}

.title{
    font-family: typo-slab-inline;
    font-size: 90px;
    color: #444;
    font-weight: bolder;
    margin-top: 20px;
    letter-spacing: 5px;
}

@font-face{
    font-family: typo-slab-inline;
    src: url("/assets/fonts/TypoSlab_inline Demo.otf");
}

.icons div{
    display: flex;
    display: inline-block;
    margin: 0 30px;
}

// .icons{
//     display: grid;
//     grid-template-columns: 1fr;
//     margin: 0 30px;
// }

i{
    font-size: 30px;
    color: #444;
}

i:hover{
    color: black;
    font-weight: bolder;
    cursor: pointer;
}

// Notification badge
.send-notification{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 30px;
}

.notification{
    position: relative;
}

.badge {
    font-size: 10px;
    position: absolute;
    background: #ff8084;
    right: -0.938rem;
    top: -0.938;
    padding: .3rem .6rem;
    border-radius: 50%;
    border: 3px solid #fff;
}

.btn-send{
padding: 0 20px 5px;
}