<!-- <app-header></app-header> -->
<html>

    <title>Messages</title>
    <app-header></app-header>
    
<header>
    <div class="banner">
           <p class="text-center"> Messages</p>
           <p class="friend">FRIENDS</p>
    </div>
</header>
<main class="messages">
    <div class="container">
        <div class="message-content">
            <div class="card">
            <ul class="list-group list-group flush">
                <ul class="list-group item" id="user1" *ngFor="let message of messagesService.message">
                    <div class="speech1">
                        <div class="speech bottom1">
                    <div class="chat chat-else">
                    <strong class="sender">Thomas</strong><!--need to put in {{message.user}}-->
                    <span> Hello </span><!--Need to implement {{message.message}}-->
                </div>
            </div>
         </div>
        </ul>
        <li class="list-group item" >
            <div class="speech2">
                <div class="chat chat-you">
                  <strong class = "user2">You</strong>
                    <span> Hi </span>
                    </div>
                </div>
                    
                </li>
            <ul>
                    <div class="speech1">
                  <div class="chat chat-else">
                    <strong class="sender">Thomas</strong>
                    <span> What do you wanna do today?</span>
                      </div>
                    </div>
                </ul>
                <ul>
                    <div class="speech2">
                    <div class="chat chat-you">
                        <strong class="user2">You</strong>
                        <span>
                            I want to go hiking today. Can you find us a trail?
                        </span>
                    </div>
                </div>
            </ul>
            </ul>
            <div class="box">
              <ul>
                <li *ngFor="let convo of convos">{{convo.conversation?.name}}</li>
              </ul>
            </div>
        </div>
    </div>
    <form #sendForm="ngForm">
        <div class="message-send row">
            <div class="col-2">
                <input type="text" class="form control" name="user" id="input-user" ngModel>
            </div>
            <div class="col-8">
                <input type="text" class="form control" name="message" id="input-message" ngModel>
            </div>
            <div class="col-2">
                <button style="background-color:#b1a49f; color:white" type="submit">Send</button>
            </div>
        </div>
    </form>
  </div>
</main>
</html>