.banner{
  position: absolute;
  height: 15%;
  width: 52.5%;
  text-align: center;
  font-size: 70px;
  font-weight: 700;
  font-family: "Times New Roman";
  color: rgb(7, 5, 5);
  line-height: 1em;
  text-transform: uppercase;
  color: white(160, 233, 252);
  top: 7%;
  right: 3%;
}
input#input-message{
  margin-left:3px;
  width: 450px;
  position: relative;
  right: -67%;
}
input#input-user{
  margin-right:3px;
  width: 200px;
  position: relative;
  right: -288%;
}
button{
  width: 80px;
  border: 2px rgb(12, 11, 11) solid;
  position: relative;
  top: -5%;
  right: -90%;
}
text {
    text-align: center;
 }
.messages{
    margin-top: 0rem;
    height: 100vh;
    background-image: url("https://images.theconversation.com/files/399816/original/file-20210510-5797-xqoxsr.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=1200.0&fit=crop");
    background-size: cover;
    background-repeat: no-repeat;
}

div.message-content{
   border-radius: .25rem;
   height: 40rem;
    margin: 2rem ;
}

.card{
    height: 85%;
    width: 65%;
    left:43%;
    top: 16%;
    background-color: red; /* For browsers that do not support gradients/transparent */
    background: rgba(255,255,255,0.6);
    border: 3px #08090c solid;
}


.chat-else {
    background-color: #c0833c;
  }
  
  .chat-you {
    background-color: #9289ac;
    text-align: left;
    float: right;
  }
  
  .sender {
    background: -webkit-linear-gradient(#0f110b, #283336);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 16px;
  }
  .user2{
    background: -webkit-linear-gradient(#242521, #13221a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 16px;
  }


  /*Speech box*/
  .speech1{
    font-family: Arial, Helvetica, sans-serif;
    /*Dimensions and position*/
    position: relative;
    padding: 20px;
    border-radius: 12px;
    max-width: 320px;

  }
  .speech1::before{
    /*Transparent borders*/
    content: "";
    position: absolute;
    width:0;
    height:0;
    top:7px;
    border-top: 12px solid transparent ;
    border-right: 26px solid #c0833c;
    border-bottom: 12px solid transparent;
    margin : 13px 0 0 -25px;
  }
//   .bottom1.speech::after{
//     border-top-color:#5f703d;
//     border-bottom:0;
//     bottom: 0;
//     margin-left:-20px;
//   }
  .speech2{
    font-family: Arial, Helvetica, sans-serif;
    /*Dimensions and position*/
    position: relative;
    padding: 20px;
    border-radius: 12px;
    max-width: 320px;
    right: -55%;
  }
  .speech2:after {
    content:"";
    position: absolute;
    left: 93.5%;
    top:20px;
    width:0px;
    height:0px;
    border-top:12px solid transparent;
    border-left:26px solid #9289ac;
    border-bottom:12px solid transparent;
}
.friend{
  position: absolute;
  top: 0%;
  right: 100%;
  height: 15%;
  width: 85%;
  text-align: center;
  font-size: 70px;
  font-weight: 700;
  font-family: "Times New Roman";
  color: rgb(7, 7, 7);
  line-height: 1em;
  text-transform: uppercase;
  color: white(160, 233, 252);
}
.card:before{  /*This is temporary. just for visual representation*/
  content:"";
  position: absolute;
  height: 100%;
  width: 60%;
  left:-73%;
  top: 0%;
  background-color: red; /* For browsers that do not support gradients/transparent */
  background: rgba(255,255,255,0.6);
  border: 3px #08090c solid;
}

   .speech2::after{
    /*Transparent borders*/
    content: "";
  position: absolute;
    width:0;
    height:0;
    border-top: 13px solid transparent ;
    border-right: 26px solid #9289ac;
    border-bottom: 13px solid transparent;
    margin : -25px 0 0  13px;
  }

 



