<form action="/action_page.php" (ngSubmit)="processForm(flagTrail)" #flagTrail="ngForm" >
    <div class =container>
        <h1>Pick a date to flag the hike</h1>
        
        <div class="row">
            <div class="col">
                <input type="date" value="formdate" #date="ngModel" [(ngModel)]="trailFlagReq.dateInt" #formdate="ngModel" [class.is-invalid]="formdate.invalid && formdate.touched" name="date" required (change)="compareDate($event)">
            </div>
            <small *ngIf="formdate.errors?.['required'] && formdate.touched" class="text-danger">You must choose a date</small>
            <small *ngIf="badDate" class="text-danger">Please pick a future date.</small>
        </div>
        <br>
        <div *ngIf="displayFormSubmitError" class="text-danger">
          Please pick a valid date.
        </div>
        <button type="submit" class="clickbtn">Flag</button>
    </div>
    <div class="box" *ngIf="submitted">
      <small *ngIf="noUsers" class="text-danger">There are no users under this date and trail.</small>
      <ul>
        <li *ngFor="let flag of returnFlags">{{flag.userId?.username}}</li>
      </ul>
    </div>
</form>

