<!-- <div class="search-comp">
  <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
    <div class="input-group">
      <input type="search" placeholder="Seach for trails..." aria-describedby="button-addon1"
        class="form-control border-0" [(ngModel)]="query" (keyup)="getQuery(query)">
      <div class="input-group-append">
        <button id="button-addon1" type="submit" class="btn btn-link text-primary" ><i
            class="bi bi-binoculars"></i></button>
      </div>
    </div>
  </div>
</div> -->

<div class="container-fluid dynamic-search shadow">
<div class="input-group mb-3 dropdown">
<select class="form-select" aria-label="Default select example bg-primary" (change)="onSelect()" [(ngModel)]="subject">
  <option value="trails" selected>Trails</option>
  <option value="users">Users</option>
</select>
  <input type="text" class="form-control border-1" aria-label="Text input with dropdown button" placeholder="Seach"
  [(ngModel)]="query" (keyup)="getQuery(query)">
</div>
</div>
