<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <div class="container" id="cont">
      <div class="container-two">
        <div class="img">
          <div class="img-text">
            <h2>Already Have An Account?</h2>
            <p>Login and resume your journey</p>
            <button type="button" routerLink="/login">Login</button>
          </div>
        </div>
      </div>
      <div class="container-one">
        
      <!-- <form (ngSubmit)="processForm(signupForm)" #signupForm="ngForm"> -->
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" >
      
        <h1>Sign Up</h1>
        <div class="user-details">


        <div class="form-group">
          <label for="signup-username">Username: </label>
       
          <input [class.is-invalid]="username?.invalid && username?.touched" formControlName="username" type="text" class="form-control" [placeholder]="placeholders.username" >

          <div *ngIf="username?.invalid && username?.touched">
            <small class="text-danger" *ngIf="username?.errors?.['minlength']">Username must be at least 3 characters</small>
            <small class="text-danger" *ngIf="username?.errors?.['required']">Username is required</small>
            <small class="text-danger" *ngIf="username?.errors?.['usernameTaken']">Username is taken </small>
          </div>
        </div>
        
        <div class="form-group">
          <label for="signup-password">Password: </label>
          
          <input [class.is-invalid]="password?.touched && password?.invalid" formControlName="password" type="password" class="form-control" [placeholder]="placeholders.password" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"> 

          <div *ngIf="password?.invalid && password?.touched">
            <small class="text-danger" *ngIf="password?.errors?.['required']">Password is required</small>
            <small class="text-danger" *ngIf="password?.errors?.['pattern']">Password needs to be minimum of 8 letters including one special and uppercase character</small>
          </div>
        </div>
    
        <div class="form-group">
          <label for="signup-codename">Age </label>
         
          <input [class.is-invalid]="age?.touched && age?.invalid" formControlName="age" type="text" class="form-control" [placeholder]="placeholders.age" pattern="^(?:1[8-9]|[2-9][0-9]|99)$$">
          
          <div *ngIf="age?.touched && age?.invalid"> 
          <small class="text-danger" *ngIf="age?.errors?.['required']">Age is required (Must be a number)</small>
          <small class="text-danger" *ngIf="age?.errors?.['pattern']">Age must be valid (18-99)</small> 
          </div>
        </div>
    
        <div class="form-group">
          <label for="signup-paymentID">Bio: </label>
  
          <input [class.is-invalid]="bio?.touched && bio?.invalid" formControlName="bio" type="text" class="form-control" [placeholder]="placeholders.bio">
          
          <div *ngIf="bio?.invalid && bio?.touched">
            <small class="text-danger" *ngIf="bio?.errors?.['required']">Bio is required</small>
          </div>
        </div>
    
        <div class="form-group">
          <label for="signup-email">Email: </label>
          
          <input [class.is-invalid]="email?.touched && email?.invalid" formControlName="email" type="text" class="form-control" [placeholder]="placeholders.email" pattern= "^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
          
          <div *ngIf="email?.touched && email?.invalid">
            <small class="text-danger" *ngIf="email?.errors?.['required']">Email is required</small>
            <small class="text-danger" *ngIf="email?.errors?.['pattern']">Email format email@example.com</small> -->
          </div>

        </div>
      </div>
    
        <div class="form-group">
          <div *ngIf="displayFormSubmitError" style="color: red">
              There's something wrong with your form
          </div>
          <button [disabled] = "!signupForm.valid" type="submit" value="Create">Sign-Up</button>
      </div>
      </form>
      
    </div>
    </div>
</body>
</html>
