<div class="column d-flex searchform">
<div class="create-group-box d-flex flex-column col-7">
  <!-- Search bar -->
  <div class="input-group justify-content-center">
    <div class="form-outline">
      <input type="search" id="form1" class="form-control" [(ngModel)]="query" placeholder="username"
        (keyup)="searchUsers()" />
    </div>
    <button type="button" class="btn clickbtn input-group-append" (click)="searchUsers()">
      <i class="bi bi-search"></i>
    </button>
  </div>

  <!-- Form box -->
  <div class="box">
    <!-- Users List -->
    <div class="form-check">
      <!-- Card Start -->
      <div class="check-box selectuser column d-flex align-items-center" *ngFor="let user of filterUsers">
        <!-- User Info -->
        <div class="user-display col-8 justify-content-between d-flex column align-items-center">
          <i class="bi bi-person-circle col-4 h2"></i>
          <label class="form-check-label col-8 bold" for="flexCheckChecked">{{user.username}}</label>
        </div>
        <!-- Buttons -->
        <div class="btn-box col-4 d-flex justify-content-center align-items-center">
          <button class="btn clickbtn" id={{user.id}} *ngIf="!selectedUsers.includes(user)" (click)="addUser($event.target)">ADD</button>
          <button class="btn clickbtnYellow" id={{user.id}} *ngIf="selectedUsers.includes(user)" (click)="removeUser($event.target)">REMOVE</button>
        </div>
      </div>
      <!-- Card End -->

    </div>
  </div>
</div>

<div class="create-box col-4 d-flex">
  <!-- Create Group -->
  <form action="/action_page.php" (ngSubmit)="createGroup(createGroupForm)" #createGroupForm="ngForm">
  <div class="input-group d-flex">
    <div class="form-outline">
      <input type="text" id="form1" class="form-control" #groupName="ngModel" name="groupName" [(ngModel)]="groupReq.conversationName" [class.is-invalid]="groupName.invalid && groupName.touched"
      placeholder="Group Name" required/>
    </div>
    <button type="submit" class="btn clickbtn input-group-append">
      Create Group
    </button>
      <small class="text-danger" *ngIf="groupName.errors?.['required'] && groupName.touched">Please enter group name</small>
  </div>


  <!-- Render selected users -->
  <div>
    <div *ngFor="let user of selectedUsers"  class="groupmem container row selectuser">
      <button class="btn  clickbtnYellow" id={{user.id}} *ngIf="selectedUsers.includes(user)"
      (click)="removeUser($event.target)">REMOVE</button>
      <p class="bold para">{{user.username}}</p>
    </div>
  </div>
  </form>
</div>

</div>






