<div class="bg-primary">
  <div class="title d-flex column justify-content-between">
    <h1 class="col-10 text-center">Chat Groups</h1>
    <i class="bi bi-plus-lg h1 col-2"></i>
  </div>
  <div class="groups-container d-flex column container border">
    <div class="picture col-2 text-center">
    <i class="bi bi-person-bounding-box h1"></i>
    </div>
    <div class="name col-10 text-center">
      <h3>Group Name</h3>
    </div>
  </div>
  <div class="groups-container d-flex column container border">
    <div class="picture col-2 text-center">
    <i class="bi bi-person-bounding-box h1"></i>
    </div>
    <div class="name col-10 text-center">
      <h3>Group Name</h3>
    </div>
  </div>
  <div class="groups-container d-flex column container border">
    <div class="picture col-2 text-center">
    <i class="bi bi-person-bounding-box h1"></i>
    </div>
    <div class="name col-10 text-center">
      <h3>Group Name</h3>
    </div>
  </div>
</div>
<app-create-group></app-create-group>