<li class="dropdown-item bg-success d-flex flex-column" *ngIf="notif">
  <div class="notification-header align-self-center d-flex flex-row justify-content-between bg-info w-100">
    <div class="notification-title bg-primary">{{notif.id}}</div>
    <div class="notification-title bg-warning align-self-center">
      <h3>Trail name</h3>
    </div>
    <div class="notification-close bg-success"><button class="btn close-btn btn-danger" (click)="onDelete(notif); onClick()">X</button></div>
  </div>
  <div class="notification-content bg-warning d-flex flex-row justify-content-between">
    <div class="notification-message bg-danger">{{notif.message}}</div>
    <div class="notification-message bg-danger">Timestamp</div>
  </div>
</li>
