<app-header></app-header>
<app-dynamic-search (passQuery)="filter($event)" (passSubject)="filterSubject($event)"></app-dynamic-search>
<div class="container-fluid searchresults">
    <div class="row">
        <!-- left side colmn trail list-->

        <div class="col leftSearch" data-spy="scroll" data-target="#trailresults" data-offset="0">
              <!-- Cards Container -->
            <div class="card container" id="trailresults" *ngIf="subject == 'trails'">
              <!-- Card -->
                <div class="cardRow container row" *ngFor="let trail of filterTrail">
                    <div class="col">
                        <img class="cardpic" src={{trail.image_url}} class="card-img-top-search"
                            alt="No Image Availible">
                    </div>

                    <div class="col">
                        <div class="card-body card-cont">

                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title trail-name">{{trail.name}}</h5>
                                </div>

                                <!-- area for modal -->
                                <div class="overlay" *ngIf="popup">
                                    <div class="popup popshadow">
                                        <app-calendar-modal trail.id="trail.id"></app-calendar-modal>
                                        <a class="close" (click)="popup = false">&times;</a>
                                    </div>
                                </div>

                                <div class="col flag">

                                    <button type="button" class="createPostBtn" (click)="popup = true; goToFlag(trail.id!)">
                                        <svg id="flagButtonEmpty" xmlns="http://www.w3.org/2000/svg" width="16"
                                            height="16" fill="currentColor" class="bi bi-flag" viewBox="0 0 16 16"
                                            role="button">
                                            <path id="flagEmpty"
                                                d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001M14 1.221c-.22.078-.48.167-.766.255-.81.252-1.872.523-2.734.523-.886 0-1.592-.286-2.203-.534l-.008-.003C7.662 1.21 7.139 1 6.5 1c-.669 0-1.606.229-2.415.478A21.294 21.294 0 0 0 3 1.845v6.433c.22-.078.48-.167.766-.255C4.576 7.77 5.638 7.5 6.5 7.5c.847 0 1.548.28 2.158.525l.028.01C9.32 8.29 9.86 8.5 10.5 8.5c.668 0 1.606-.229 2.415-.478A21.317 21.317 0 0 0 14 7.655V1.222z" />
                                        </svg>

                                        <svg id="flagButtonFill" xmlns="http://www.w3.org/2000/svg" width="16"
                                            height="16" fill="currentColor" class="bi bi-flag-fill" viewBox="0 0 16 16"
                                            role="button">
                                            <path id="flagfilled"
                                                d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <br>
                            <p class="card-text-des">{{trail.short_desc}}</p>
                            <a class="btn clickbtn" id={{trail.id}} (click)="showTrailDetails($event)">View</a>
                        </div>
                    </div>
                </div>
                <!-- Card End -->
            </div>
            <!-- Card Container End -->

            <div class="card container" id="trailresults" *ngIf="subject == 'users'">
                <div class="cardRow container row" *ngFor="let user of filterUser">
                    <div class="col">
                        <img class="cardpic" src="#" class="card-img-top-search" alt="No Image Availible">
                    </div>

                    <div class="col">
                        <div class="card-body card-cont">

                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title trail-name"> Age: {{user.age}} Name: {{user.username}}</h5>
                                </div>
                                <div class="col flag">

                                    <svg id="flagButtonEmpty" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                        fill="currentColor" class="bi bi-flag" viewBox="0 0 16 16" role="button">
                                        <path id="flagEmpty"
                                            d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001M14 1.221c-.22.078-.48.167-.766.255-.81.252-1.872.523-2.734.523-.886 0-1.592-.286-2.203-.534l-.008-.003C7.662 1.21 7.139 1 6.5 1c-.669 0-1.606.229-2.415.478A21.294 21.294 0 0 0 3 1.845v6.433c.22-.078.48-.167.766-.255C4.576 7.77 5.638 7.5 6.5 7.5c.847 0 1.548.28 2.158.525l.028.01C9.32 8.29 9.86 8.5 10.5 8.5c.668 0 1.606-.229 2.415-.478A21.317 21.317 0 0 0 14 7.655V1.222z" />
                                    </svg>

                                    <svg id="flagButtonFill" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                        fill="currentColor" class="bi bi-flag-fill" viewBox="0 0 16 16" role="button">
                                        <path id="flagfilled"
                                            d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001" />
                                    </svg>

                                </div>
                            </div>
                            <p class="card-text-des">{{user.bio}}</p>
                            <a class="btn clickbtn" (click)="goToProfile($event)" id={{user.username}}>Go to
                                profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- right side colmn map/description -->
        <div class="col rightSearch">
            <div class="mapsearch container">
                <div class="Trailname row">
                    <label for="exampleFormControlInput1" id="traillabel" class="form-label col">Trail Name:
                    </label>
                    <p class="col-8">
                        {{trail.name}}
                    </p>
                </div>
                <header>
                    <div id="map"></div>
                </header>
                <br>
                <div class="row topElement">
                    <div class="col Duration">
                        <div class="row">
                            <label for="exampleFormControlInput1" id="durationlabel"
                                class="form-label col bold">Duration:
                            </label>
                            <p class="col">
                                {{trail.duration}}
                            </p>
                        </div>
                    </div>
                    <div class="col Rating">
                        <div class="row">
                            <label for="exampleFormControlInput1" id="Ratinglabel"
                                class="form-label col bold">Location:</label>
                            <p class="col">
                                {{trail.park_name}}
                            </p>
                        </div>
                    </div>
                    <div class="col Website">
                        <div class="row">
                            <a href={{trail.website_url}} target="_blank" id="websiteURL" class="form-label col">Visit
                                the Website</a>
                        </div>
                    </div>
                </div>
                <div>
                    <label for="exampleFormControlTextarea1" class="form-label bold">Description</label>
                    <p id="traildecript">
                        {{trail.long_desc}}
                    </p>
                </div>
                <button type="button" class="btn clickbtn">Trailmate</button>

                <br>
                <br>
                <div class="mb-3">

                    <label for="exampleFormControlInput1" class="form-label bold">User Comments:</label>
                    <div class="mb-3">
                        <p id="usercomment">
                            User comments
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>