<app-header></app-header>
<app-dynamic-search
  (passQuery)="filter($event)"
  (passSubject)="filterSubject($event)"
></app-dynamic-search>
<div class="container-fluid searchresults">
  <div class="row">
    <!-- left side colmn trail list/user cards-->
    <div
      class="col leftSearch"
      data-spy="scroll"
      data-target="#trailresults"
      data-offset="0"
    >
      <!-- trail cards -->
      <div class="card container" id="trailresults" *ngIf="subject == 'trails'">
        <div class="cardRow container row" *ngFor="let trail of filterTrail">
          <div class="col">
            <img
              class="cardpic"
              src="{{ trail.image_url }}"
              class="card-img-top-search"
              alt="No Image Availible"
            />
          </div>
          <div class="col">
            <div class="card-body card-cont">
              <div class="row">
                <div class="col">
                  <h5 class="card-title trail-name">{{ trail.name }}</h5>
                </div>

                <!-- area for modal -->
                <div class="overlay" *ngIf="popup">
                  <div class="popup popshadow">
                    <app-calendar-modal
                      (passSubmitStatus)="checkSubmitted($event)"
                    ></app-calendar-modal>
                    <a class="close" (click)="popup = false">&times;</a>
                  </div>
                </div>
                <div class="col flag">
                  <button type="button" class="createPostBtn">
                    <i
                      class="bi bi-flag"
                      (click)="flag($event.target); goToFlag(trail.id!)"
                      *ngIf="!flagged"
                      id="{{ trail.id }}"
                      (click)="popup = true"
                    ></i>
                    <i
                      class="bi bi-flag-fill"
                      (click)="unflag($event.target)"
                      *ngIf="flagged"
                      id="{{ trail.id }}"
                    ></i>
                  </button>
                </div>
              </div>
              <br />
              <p class="card-text-des">{{ trail.short_desc }}</p>
              <a
                class="btn clickbtn"
                id="{{ trail.id }}"
                (click)="showTrailDetails($event)"
                >View</a
              >
            </div>
          </div>
        </div>
      </div>

      <!-- user cards -->
      <div class="card container" id="trailresults" *ngIf="subject == 'users'">
        <div class="cardRow container row" *ngFor="let user of filterUser">
          <div class="col">
            <img
              class="cardpic"
              id="profilePic"
              src="../../../assets/images/blank-profile.png"
              class="card-img-top-search"
              alt="No Image Availible"
              *ngIf="user.profilepic == null"
            />
            <img
              class="cardpic"
              id="profilePic"
              src={{user.profilepic}}
              class="card-img-top-search"
              alt="No Image Availible"
              *ngIf="user.profilepic != null"
            />
          </div>

          <div class="col">
            <div class="card-body card-cont">
              <div class="row">
                <div class="col">
                  <h5 class="card-title trail-name">
                    Name: {{ user.username }}
                  </h5>
                  <h3 class="card-title trail-name">Age: {{ user.age }}</h3>
                </div>
                <div class="col friend">
                  <button type="button" class="createPostBtn">
                    <i
                      class="bi bi-person-plus"
                      (click)="friend($event.target)"
                      *ngIf="!friended"
                      id="{{ user.id }}"
                    ></i>
                    <i
                      class="bi bi-person-check-fill"
                      (click)="unfriend($event.target)"
                      *ngIf="friended"
                      id="{{ user.id }}"
                    ></i>
                  </button>
                </div>
              </div>
              <p class="card-text-des">{{ user.bio }}</p>
              <a
                class="btn clickbtn"
                (click)="goToProfile($event)"
                id="{{ user.username }}"
                >Go to profile</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- right side colmn map/description -->
    <div class="col rightSearch">
      <div class="mapsearch container">
        <div class="Trailname row">
          <label
            for="exampleFormControlInput1"
            id="traillabel"
            class="form-label col"
            >Trail Name:
          </label>
          <p class="col-8">
            {{ trail.name }}
          </p>
        </div>
        <header>
          <div id="map"></div>
        </header>
        <br />
        <div class="row topElement">
          <div class="col Duration">
            <div class="row">
              <label
                for="exampleFormControlInput1"
                id="durationlabel"
                class="form-label col bold"
                >Duration:
              </label>
              <p class="col">
                {{ trail.duration }}
              </p>
            </div>
          </div>
          <div class="col Rating">
            <div class="row">
              <label
                for="exampleFormControlInput1"
                id="Ratinglabel"
                class="form-label col bold"
                >Location:</label
              >
              <p class="col">
                {{ trail.park_name }}
              </p>
            </div>
          </div>
          <div class="col Website">
            <div class="row">
              <a
                href="{{ trail.website_url }}"
                target="_blank"
                id="websiteURL"
                class="form-label col"
                >Visit the Website</a
              >
            </div>
          </div>
        </div>
        <div>
          <label for="exampleFormControlTextarea1" class="form-label bold"
            >Description</label
          >
          <p id="traildecript">
            {{ trail.long_desc }}
          </p>
        </div>
        <button type="button" class="btn clickbtn" (click)="checkTrailReq()">
          Trailmate
        </button>

        <div class="box">
          <small *ngIf="noUsers" class="text-danger"
            >There are no users under this trail.</small
          >
          <ul>
            <li class="selectuser" *ngFor="let flag of trailmateFlags">
              {{ flag.userId?.username }}
              <a
                class="hrefStyle hrefProf"
                href="/profile/{{ flag.userId?.username }}"
              >
                Profile</a
              >
              <a class="hrefStyle hrefMsg" (click)="goToMessage(flag.userId!)">
                Message</a
              >
            </li>
          </ul>
        </div>

        <br />
        <br />

        <div class="mb-3" *ngIf="trail.id">
          <div *ngIf="trailRating.ratingAvg">
            <app-stars></app-stars>

            <label
              *ngIf="trailRating.ratingAvg"
              for="exampleFormControlInput1"
              class="form-label bold"
              >{{ trailRating.ratingAvg }}</label
            >
            <i
              *ngFor="
                let x of numberSize(starAmount(trailRating.ratingAvg ?? 0))
              "
              class="bi bi-star-fill"
              style="color: #f3da35"
            >
            </i>
            <i
              class="bi bi-star-half"
              style="color: #f3da35"
              *ngIf="isHalf(trailRating.ratingAvg ?? 0)"
            >
            </i>

            <i
              class="bi bi-star"
              *ngFor="
                let x of numberSize(5 - returnRound(trailRating.ratingAvg ?? 0))
              "
            >
            </i>

            <p *ngIf="trailRating.ratingCount">
              out of {{ trailRating.ratingCount }} reviews
            </p>
          </div>

          <br />
          <label for="exampleFormControlInput1" class="form-label bold"
            >User Comments:</label
          >
          <div class="mb-3">
            <div class="mb-3" *ngIf="!noReviews">
              <div *ngFor="let review of trailReview" class="reviewshadow">
                <h2>{{ review.userID?.username }}</h2>
                <i
                  *ngFor="let x of numberSize(review.rating ?? 0)"
                  class="bi bi-star-fill"
                  style="color: #f3da35"
                >
                </i>

                <i
                  *ngFor="let x of numberSize5(review.rating ?? 0)"
                  class="bi bi-star"
                >
                </i>

                <p>{{ review.comment }}</p>

                <br />
              </div>
            </div>

            <!-- no reviews -->
            <div class="mb-3" *ngIf="noReviews">
              <label for="exampleFormControlInput1" class="form-label bold"
                >No Reviews</label
              >
            </div>

            <div class="container">
              <span id="rateMe1"></span>
            </div>

            <!-- buttons -->
            <button
              type="button"
              class="btn clickbtn"
              *ngIf="!newReview"
              (click)="newReview = true"
            >
              Leave a Review
            </button>

            <div *ngIf="newReview">
              <label for="review-score" class="bold"
                >How was this trail:
              </label>
              <br />
              <div class="star">
                <!-- <ngx-star-rating [(ngModel)]="newReviewRequest.rating" [id]="'rating'"></ngx-star-rating> -->
              </div>

              <br />

              <!-- <input [class.is-invalid]="newReviewRequest.comment?.invalid" -->
              <!-- <input [(ngModel)]="newReviewRequest.comment" type="string" class="form-control commentbox"
                            [placeholder]="placeholders.comment"> -->

              <button
                type="button"
                class="btn clickbtn"
                (click)="submitReview()"
              >
                Submit
              </button>
              <button
                type="text"
                class="btn clickbtn"
                (click)="newReview = false"
              >
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
