
<!-- <!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head> -->
<app-header></app-header>
<body class="d-flex bg-danger align-items-center">
  <div class="container">
    <div class="banner column d-flex justify-content-between align-items-center" >
      <div class="col-10 d-flex justify-content-center">
        <h3 class="">{{privateMessages[0].conversation?.name!}}</h3>
      </div>
      <div class="col-2 d-flex justify-content-end">
        <button routerLink = "/messaging" class="btn btn-danger">
          <i class="bi bi-box-arrow-left h3"></i>
        </button>
      </div>
    </div>
    <div class="chat-page bg-light">
      <div class="msg-inbox">
        <div class="chats">
          <div class="msg-page" #scrollMe style="overflow-y: scroll">
            <div class="received-chats" *ngFor="let message of privateMessages">
              <div class="received-chats-img">
                <img src="../../../../assets/images/blank-profile.png" alt="" *ngIf="message.sender_id!.profilepic == null" class="profImage">
                <img src={{message.sender_id!.profilepic}} alt="" *ngIf="message.sender_id!.profilepic != null">
              </div>
              <div class="received-msg">
                <div class="received-msg-inbox ml-5">
                  <p class="username">{{message.sender_id?.username}}</p>
                    <p class="messages">{{message.message}}</p>
                    <span class="time">{{message.time_sent}}</span>
                </div>
              </div>
            </div>

            <div class="received-chats"  *ngFor="let msg of greetings">
              <div class="received-chats-img">
                <img src="{{msg.split('`')[0]}}" alt="" *ngIf="msg.split('`')[0] == profImg?.url!">
                <img src="../../../../assets/images/blank-profile.png" alt="" *ngIf="msg.split('`')[0] != profImg?.url!">
              </div>
              <div class="received-msg">
                <div class="received-msg-inbox">
                    <p class="username">{{msg.split('`')[1].split('♪')[0]}}</p>
                    <p class="messages">{{msg.split('`')[1].split('♪')[1]}}</p>
                    <p class="time">{{msg.split('`')[1].split('♪')[2]}}</p>
                </div>
              </div>
            </div>

<!-- <div class="chatroom" (click)="consoleConvo()">
  <div class="banner d-flex flex-column align-items-center bg-danger">
    <div class="box" routerLink="/messaging">
      Back
            </div>
          </div>
        </div> -->
      </div>

      <div class="msg-button">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Type Your Message..." name="newmessage" [(ngModel)]="newmessage" required (keydown.enter)="sendMessage()" (keydown.enter)="onKeydown($event)">
          <div class="input-group-append">
            <span (click)="sendMessage()" class="input-group-text"><i class="bi bi-send"></i></span>
          </div>
        </div>
      </div>
    </div>

  <!-- <div class="col-sm-4">
    <div class="d-flex h1 justify-content-center align-items-center mb-3">Live Chat</div>
  <div class="overflow-auto" style="height:550px ">
    <div *ngFor="let message of privateMessages">
      <p> {{message.sender_id?.username}} :  {{message.message}}</p>
    </div>
    <div class="box">
      <h3>Username</h3>
  <div *ngFor="let msg of greetings">
    <div class="container h3 rounded mb-2 msg">
            <p>{{msg}}</p>
    </div>

  </div>


</div>
<div class="col-sm-4 liveChat overflow-auto justify-content-center" style="height: 750px;">
  <div class="d-flex h1 justify-content-center align-items-center mb-3">Live Chat</div>
<div class="overflow-auto" style="height:550px ">
  <div *ngFor="let message of privateMessages">
    <p> {{message.sender_id?.username}} :  {{message.message}}</p></div>
<div *ngFor="let msg of greetings">
  <div class="container h3 rounded mb-2 msg">
          <p>{{msg}}</p>
  </div> 
  </div>
</div> 
</div>
<form #loginForm=ngForm style="bottom:5%; position:absolute;">
  <div class="d-flex flex-column justify-content-center">
      <br>
      <textarea style="color: black;" cols="63" autocomplete="on" placeholder="Type Your Message..." name="newmessage" [(ngModel)]="newmessage" required (keydown.enter)="sendMessage()" (keydown.enter)="onKeydown($event)"></textarea>
      <button class="btn sendBtn" (click)="sendMessage()" [disabled]="!loginForm.valid">Send</button>
  </div>
</form>
  <form #loginForm=ngForm style="bottom:5%; position:absolute;">
    <div class="d-flex flex-column justify-content-center">
        <br>
        <textarea style="color: black;" cols="63" autocomplete="on" placeholder="Type Your Message..." name="newmessage" [(ngModel)]="newmessage" required (keydown.enter)="sendMessage()" (keydown.enter)="onKeydown($event)"></textarea>
        <button class="btn sendBtn" (click)="sendMessage()" [disabled]="!loginForm.valid">Send</button>
    </div>
  </form> -->
<!-- <div class="chatroom" (click)="consoleConvo()">
  <div class="banner d-flex flex-column align-items-center bg-danger">
    <div class="box" routerLink="/messaging">
      Back
    </div>
    <div class="box">
      <i class="bi bi-person-circle"></i>
    </div>
    <div class="box">
      <h3>Username</h3>
    </div>

  </div>
 
  
</div>
<div class="col-sm-4 liveChat overflow-auto justify-content-center" style="height: 750px;">
  <div class="d-flex h1 justify-content-center align-items-center mb-3">Live Chat</div>
<div class="overflow-auto" style="height:550px ">
  <div *ngFor="let message of privateMessages">
    <p> {{message.sender_id?.username}} :  {{message.message}}</p></div>
<div *ngFor="let msg of greetings">
  <div class="container h3 rounded mb-2 msg">
          <p>{{msg}}</p>
  </div>
</div> 
</div>
<form #loginForm=ngForm style="bottom:5%; position:absolute;">
  <div class="d-flex flex-column justify-content-center">
      <br>
      <textarea style="color: black;" cols="63" autocomplete="on" placeholder="Type Your Message..." name="newmessage" [(ngModel)]="newmessage" required (keydown.enter)="sendMessage()" (keydown.enter)="onKeydown($event)"></textarea>
      <button class="btn sendBtn" (click)="sendMessage()" [disabled]="!loginForm.valid">Send</button>
  </div>
</form> -->
